# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
downloads/
.eggs/
*.egg-info/
*.egg

# Logs and databases
*.log
*.db
*.sqlite

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*
!.env.example

# Cache
.cache/

# https://zoma.dev/